doctype 5
html#root(lang="en")
	head
		title= title
		script(type="text/javascript", src="/javascripts/amcharts.js")
		script(type="text/javascript", src="/javascripts/interest.js")
	body
		h1(class="title")= title
		form#inputForm(id="calcForm", method="get", action="")
			h2 Investment Income Calculator
			div(class="inv_table")
				div(class="inv_header")
					div(class="inv_name")
					div(class="inv_p") Principal
					div(class="inv_i") Interest
				div(class="inv")
					div(class="inv_name_a") Investment A
					div(class="inv_p")
						$
						input(class="inv_p_input", type="text", id="p0", name="p0")
					div(class="inv_i")
						input(class="inv_i_input", type="text", id="i0", name="i0")
						%
				div(class="inv")
					div(class="inv_name_b") Investment B
					div(class="inv_p")
						$
						input(class="inv_p_input", type="text", id="p1", name="p1")
					div(class="inv_i")
						input(class="inv_i_input", type="text", id="i1", name="i1")
						%
				div(class="inv")
					div(class="inv_name_c") Investment C
					div(class="inv_p")
						$
						input(class="inv_p_input", type="text", id="p2", name="p2")
					div(class="inv_i")
						input(class="inv_i_input", type="text", id="i2", name="i2")
						%
		form#reportForm(method="post", action="/report", target="_new")
			input(type="text", id="svg", name="svg", style="display:none")
			input(type="text", id="table", name="table", style="display:none")
			input(type="button", value="Generate PDF report", onclick="submitForm()")
			input(type="button", value="Generate Word report", onclick="submitForm()", disabled="disabled")
		div#report
			h3 Projected Income
			div#chartdiv
			table#datatable
