doctype 5
html(lang="en")
	head
		title= title
		script(type="text/javascript", src="/javascripts/amcharts.js")
		script(type="text/javascript", src="/javascripts/ppcharts.js")
	body
		h1= title
		p 1. Random data generated in the browser (
			a(onclick="regenerateChartData()", href="#") regenerate
			)
		div#chartdiv(style="width: 100%; height: 400px;")
		p 2. 
			a(onclick="p()", href="#") Export to PDF
